<h1 class="mt-4"><b>Reviews</b></h1>
<div *ngFor="let tempReview of reviews" class="container">
  <a routerLink="/reviews/{{ tempReview.id }}">
    <div
      *ngIf="tempReview.reviewStatus == null"
      class="card border-dark mb-3"
      style="max-width: 30rem"
    >
      <div class="card-header">
        {{ tempReview.reviewTitle }}
      </div>
      <div class="card-body text-dark">
        <h5 class="card-title">Rating {{ tempReview.reviewRating }}</h5>
        <p class="card-text">
          {{ tempReview.reviewBody }}
        </p>
      </div>
    </div>
  </a>
</div>
